@font-face {
    font-family: 'arcadia';
    src: url('./font/arcadia/Arcadia.ttf') format('truetype');
    /* reemplaza 'nombre-de-la-fuente.ttf' con el nombre del archivo de la fuente que descargaste */
    /* ajusta el formato de archivo según la extensión de tu archivo de fuente */
}
@font-face {
    font-family: 'strong';
    src: url('./font/strongconcrete-bold-by-freejectnet/StrongConcrete-Bold.otf') format('truetype');
    /* reemplaza 'nombre-de-la-fuente.ttf' con el nombre del archivo de la fuente que descargaste */
    /* ajusta el formato de archivo según la extensión de tu archivo de fuente */
}
.container {
  background-image: url('./imagenes/consola.jpg');
  background-position:left top;
    font-family: 'arcadia', sans-serif;
    position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
 
  }
  .border{
    border: 1px solid white;
    position: absolute;
    left: 50%;
  }
  
  @keyframes move-colors {
  
    60% {
      opacity: 1;
      transform: translateX(20px) translateY(-10px);
    }
    80% {
      opacity: 0.8;
      transform: translateX(30px) translateY(-5px);
    }
    100% {
      opacity: 0.5;
      transform: translateX(40px) translateY(0);
    }
  }
  
  
  .image {
    animation: move-colors 10s ease-in-out infinite;
    animation-direction: alternate;
  }
  
  
  .h1 {
    
    position: absolute;
    top: 8%;
    left: 50%;
    background: transparent;
    background-color: transparent;
    border: 0px;
    border-radius: 20px;
    transform: translate(-50%, -50%);
    color: rgb(126, 126, 130);;
    font-size: 4rem;
    font-weight: bold;
    font-family: 'arcadia', sans-serif;
    text-shadow: none;
    text-align: center;
    justify-content: center;
   
    cursor: pointer;

    
    
  
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5), 
               0 0 20px rgba(255, 255, 255, 0.5), 
               0 0 30px rgba(255, 255, 255, 0.5), 
               0 0 40px rgba(255, 255, 255, 0.5), 
               0 0 50px rgba(255, 255, 255, 0.5), 
               0 0 60px rgba(255, 255, 255, 0.5);
  animation: shadow 2s linear infinite;
}

@keyframes shadow {
  0% {
    text-shadow: 0 0 10px rgba(129, 107, 107, 0.5), 
                 0 0 20px rgba(110, 88, 88, 0.5), 
                 0 0 30px rgba(90, 76, 76, 0.5), 
                 0 0 40px rgba(94, 77, 77, 0.5), 
                 0 0 50px rgba(72, 58, 58, 0.5), 
                 0 0 60px rgba(113, 89, 89, 0.5);
  }
  100% {
    text-shadow: 0 0 10px rgba(128, 49, 49, 0.5), 
                 0 0 20px rgba(138, 65, 65, 0.5), 
                 0 0 30px rgba(133, 74, 74, 0.5), 
                 0 0 40px rgba(134, 72, 72, 0.5), 
                 0 0 50px rgba(123, 59, 59, 0.5), 
                 0 0 60px rgba(148, 66, 66, 0.5);
  }
}
  .h1:hover {
    
    transition: all 1.8s;
    color:rgb(197, 193, 193);
    background:transparent;
    text-shadow: 0 0 50px 30px rgba(69, 69, 178, 0.5);
    
    border: 0px;
    
  }

  
  .button {
    position: absolute;
    
    top: 45%;
    left: 49%;
    transform: translate(-50%, -50%);
    background-color: rgb(126, 126, 130);
    color: rgb(19, 19, 19);
    padding: 1rem 2rem;
    border-radius: 20px;
    box-shadow: 0 20px 60px 0 ;
    font-size: 1.5rem;
    font-family: 'strong', sans-serif;
    font-weight: bold;
    cursor: pointer;
  }
  .button:hover {
    width: 170px;
    
    box-shadow: 0 0 50px 30px rgba(43, 43, 107, 0.5);
    transition: all ease-in-out 0.8s ease-out;
    background-color:rgb(222, 214, 214);
    
    
  }

  @media (max-width: 400px) {
    .container {
      grid-template-areas:
        "header"
        "sidebar"
        "content"
        "footer";
      grid-template-columns: 1fr;
      grid-template-rows: 100px 200px 1fr 100px;
    }
    .h1 {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }